@import url("./../../App.css");

.bg-footer {
  background-color: var(--light-bg);
  height: fit-content;
  color: var(--text-black);
  padding-top: 15vh;
  padding-bottom: 2.5vh;
}

.footer-text {
  font-size: 1.25rem;
  font-weight: 800;
  text-align: center;
}